/* || General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Inter', sans-serif;
}

.box-width {
    max-width: 1440px;
    width: 100%;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}



/* || Typoghrapy */

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

span {
    font-size: 12px;
}


h1, h2, h3, h4 {
    color: #343C6A;
}






/* body */


.main-container {
    align-items: center;
}


/* header */

.header__logo {
    padding: 32px 28px 32px 38px;
    border-right: 1px solid #E6EFF5;
}

.header__box {
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}

.header__buttons {
    gap: 30px;
}

.header__search {
    gap: 15px;
    padding: 15px 25px;
    border-radius: 40px;
    background-color: #F5F7FA;
}

.header__search input {
    all: unset;
}

.header__buttons button {
    all: unset;
}

.header__buttons .header__grey-button {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    background-color: #F5F7FA;
    border-radius: 50%;
}

.header__grey-button img {
    width: 25px;
}





/* main */

.main {
    align-items: flex-start;
}


/* aside */


.aside__container {
    border-right: 1px solid #E6EFF5;
    width: 250px;
}

.aside__container a {
    all: unset;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #B1B1B1;
}


.aside__burger-manu {
    display: none;
}

.aside__container a:focus {
    color: #2D60FF;
    border-left: 6px solid #2D60FF;
    border-radius: 0px 10px 10px 0px;
}

.aside__container img {
    padding-right: 26px;
}

.aside__container .aside__main-link {
    color: #2D60FF;
    border-left: 6px solid #2D60FF;
    border-radius: 0px 10px 10px 0px;
}


/* article */

article {
    background-color: #F5F7FA;
    max-width: 1190px;
    width: 100%;
    padding: 30px 40px 50px 40px;
    gap: 24px;
}


.article__top {
    gap: 20px;
}

.cards__heading {
    max-width: 730px;
    width: 100%;
    justify-content: space-between;
}

.cards__heading a {
    all: unset;
    color: #343C6A;
}

.cards__box {
    border-radius: 25px;
    width: 350px;
    height: 225px;
    gap: 35px;
}

.cards__boxes {
    gap: 30px;
}

.article__cards {
    gap: 20px;
}

.cards__box--blue-card {
    padding-top: 24px;
    border-radius: 25px;
    background: linear-gradient(107deg, #2D60FF 2.61%, #539BFF 101.2%);
    color: #fff;
}

.cards-box__heading {
    padding: 0 24px;
    justify-content: space-between;
}

.cards-box__heading p {
    font-size: 12px;
}

.cards-box__heading span {
    font-size: 20px;
}

.cards-box__holder {
    gap: 67px;
    padding: 0 24px;
}

.cards-box__holder div {
    gap: 2px;
}

.cards-box__holder span {
    font-size: 12px;
    color: #FFFFFFB2;
}

.cards-box__holder p {
    font-size: 15px;
}

.cards-box__card--number {
    align-items: center;
    padding: 10px 24px;
    justify-content: space-between;
    background: linear-gradient(180deg, #ffffff26 0%, #ffffff00 100%);
}

.cards-box__card--number p {
    font-size: 22px;
}

.blue-card {
    gap: 20px;
}


.cards__box--dark-blue-card {
    background-image: linear-gradient(107deg, #4C49ED 2.61%, #0A06F4 101.2%);
    padding-top: 24px;
    border-radius: 25px;
    color: #fff;
}

.cards__box--white-card {
    padding-top: 24px;
    background-color: #fff;
    border-radius: 4px solid #DFEAF2;
    color: #343C6A;
}

.cards-box__white-holder span, .cards-box__white-heading p {
    color: #718EBF;
}





.article__middle {
    gap: 30px;
}

.article__expense--static {
    gap: 20px;
}


.article__card-type-container {
    gap: 20px;
}


.article__card-type-boxes {
    gap: 20px;
}

.article__card-type-box {
    gap: 45px;
    padding: 15px 30px 15px 15px;
    border-radius: 20px;
    background-color: #FFF;
}

.article__card-type-box p {
    color: #232323;
    font-weight: 500;
}

.article__card-type-box span {
    color: #718EBF;
    font-size: 15px;
}

.article__card-type-box--blue-card {
    gap: 15px;
}

.article__card-type-box--blue-card img {
    padding: 17px;
    border-radius: 20px;
    background-color: #E7EDFF;
}

.article__card-type-box--gap {
    gap: 8px;
}

.article__card-type-box--a {
    gap: 34px;
}

.article__card-type-box--a a {
    all: unset;
    color: #1814F3;
    font-size: 15px;
    font-weight: 500;
}

.article__card-type-box--red-card {
    gap: 15px;
}

.article__card-type-box--red-card img {
    padding: 16px;
    border-radius: 20px;
    background-color: #FFE0EB;
}

.article__card-type-box--orange-card {
    gap: 15px;
}

.article__card-type-box--orange-card img {
    padding: 15px;
    border-radius: 20px;
    background-color: #FFF5D9;
}



.article__bottom {
    gap: 30px;
}


.article__add-new-container {
    gap: 20px;
    max-width: 730px;
    width: 100%;
}


.article__add-new-info {
    gap: 30px;
    padding: 28px 30px 38px 30px;
    border-radius: 25px;
    background-color: #FFF;   
}

.article__add-new-info p {
    max-width: 633px;
    color: #718EBF;
    line-height: 28px;
}

.article__form {
    flex-wrap: wrap;
    gap: 30px;
}

.article__form--box {
    gap: 12px;
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    width: 320px;
}

.article__form--box > input {
    padding: 16px 20px;
    border-radius: 15px;
    border: 1px solid #DFEAF2;
    background-color: #FFF;
}

.article__form--box > input::placeholder {
    color: #718EBF;
    font-size: 15px;
}

.article__expiration-data--box {
    padding: 16px 20px;
    border-radius: 15px;
    border: 1px solid #DFEAF2;
    background-color: #FFF;
    justify-content: space-between;
}

.article__expiration-data--box input {
    all: unset;
}

.article__expiration-data--box input::placeholder {
    color: #718EBF;
    font-size: 15px;
}


.article__add-new--button {
    all: unset;
    width: 160px;
    border-radius: 9px;
    background: #1814F3;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 14px 0;
}