/* || General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Inter', sans-serif;
}

.box-width {
    max-width: 1440px;
    width: 100%;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}



/* || Typoghrapy */

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

span {
    font-size: 12px;
}


h1, h2, h3, h4 {
    color: #343C6A;
}






/* body */


.main-container {
    align-items: center;
}


/* header */

.header__logo {
    padding: 32px 28px 32px 38px;
    border-right: 1px solid #E6EFF5;
}

.header__box {
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}

.header__buttons {
    gap: 30px;
}

.header__search {
    gap: 15px;
    padding: 15px 25px;
    border-radius: 40px;
    background-color: #F5F7FA;
}

.header__search input {
    all: unset;
}

.header__buttons button {
    all: unset;
}

.header__buttons .header__grey-button {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    background-color: #F5F7FA;
    border-radius: 50%;
}

.header__grey-button img {
    width: 25px;
}





/* main */

.main {
    align-items: flex-start;
}


/* aside */


.aside__container {
    border-right: 1px solid #E6EFF5;
    width: 250px;
}

.aside__container a {
    all: unset;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #B1B1B1;
}


.aside__burger-manu {
    display: none;
}

.aside__container a:focus {
    color: #2D60FF;
    border-left: 6px solid #2D60FF;
    border-radius: 0px 10px 10px 0px;
}

.aside__container img {
    padding-right: 26px;
}

.aside__container .aside__main-link {
    color: #2D60FF;
    border-left: 6px solid #2D60FF;
    border-radius: 0px 10px 10px 0px;
}


/* article */

article {
    background-color: #F5F7FA;
    max-width: 1190px;
    width: 100%;
    padding: 30px 40px 50px 40px;
    gap: 24px;
}


.amount__info-box {
    padding: 25px 52px;
    background-color: #fff;
    border-radius: 20px;
    gap: 12px;
}

.amount__info-box div {
    gap: 4px;
}

.amount__info-box p {
    color: #232323;
    font-size: 20px;
    font-weight: 600;
}

.amount__info-box span {
    color: #718EBF;
    font-size: 16px;
}

.article__top--number-of-ivest-box {
    padding: 25px 44px;
}

.article__top--nrare-of-return-box {
    padding: 25px 78px;
}

.article__top {
    gap: 30px;
}




.article__middle {
    gap: 30px;
}

.article__middle > div {
    gap: 20px;
}



.article__bottom {
    gap: 30px;
}

.article__bottom > div {
    gap: 18px;
}



.article__my-invest-boxes {
    gap: 15px;
}

.article__my-invest-box {
    gap: 50px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 36px 15px 15px;
}

.article__my-invest-box--product-logo {
    gap: 20px;
}

.article__my-invest-box p {
    color: #718EBF;
    font-size: 15px;
    font-weight: 400;
}

.article__my-invest-box span {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
}

.article__my-invest-box .article__my-invest-box--green-span {
    color: #16DBAA;
}

.article__my-invest--product--info {
    gap: 8px;
}

.article__bottom .article__my-invest-box--red-span {
    color: #FE5C73;
}

.article__my-invest-box--product-logo {
    max-width: 260px;
    width: 100%;
}


.article__table {
    padding: 26px 48px 26px 30px;
    background-color: #fff;
    border-radius: 25px;
}

.article__table--thead {
    padding-bottom: 8px;
    border-bottom: 1px solid #F4F5F7;
    gap: 36px;
}

.article__table--thead th {
    color: #718EBF;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.article__table--thead th:nth-of-type(2), .article__table--tbody tr td:nth-child(2) {
    width: 95px;
}


.article__table--thead th:nth-of-type(3), .article__table--tbody tr td:nth-child(3) {
    width: 68px;
}


.article__table--tbody tr {
    padding: 14px 0;
    display: flex;
    gap: 36px;
}

.article__table--tbody tr td:nth-child(1) {
    width: 46px;
}

.article__table--tbody td {
    color: #232323;

}

.article__table--tbody tr:last-child {
    padding-bottom: 0;
}


.article__table--tbody .article__tbody--red-td {
    color: #FE5C73;
    font-weight: 500;
}

.article__table--tbody .article__tbody--green-td {
    color: #16DBAA;
    font-weight: 500;
}